#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.navhead{
    background-color: #973131;
    height: 20%; 
    padding: 1.2%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: x-large;
    font-weight: 500;
    color: #F9D689;
    font-family: 'Times New Roman', Times, serif;
}
#top{
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    color: white;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif ;
}
#top>div{
    width: 100%;
    display: flex;
    gap: 30px;
    box-shadow: 0px 2px 10px #ccc7c7;;
    background-color: whitesmoke;
}
.opt{
    text-decoration: none;
    color: black;
    font-family:'Times New Roman', Times, serif ;

}
footer{
    background-color: #a6a2a2;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}



